{{- /*
SPDX-FileCopyrightText: Copyright (C) SchedMD LLC.
SPDX-License-Identifier: Apache-2.0
*/}}

{{- $create := "" -}}
{{- range $key, $loginset := $.Values.loginsets -}}
  {{- if $loginset.enabled }}
    {{- $create = true -}}
  {{- end }}{{- /* if $loginset.enabled */}}
{{- end }}{{- /* range $loginset := $.Values.loginsets */}}
{{- range $key, $nodeset := $.Values.nodesets -}}
  {{- if and $nodeset.enabled $nodeset.ssh.enabled }}
    {{- $create = true -}}
  {{- end }}{{- /* and $nodeset.enabled $nodeset.ssh.enabled */}}
{{- end }}{{- /* range $nodeset := $.Values.nodesets */}}
{{- if and $create (not .Values.sssd.secretRef) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "slurm.sssdConf.name" . }}
  namespace: {{ include "slurm.namespace" . }}
type: Opaque
stringData:
  {{ include "slurm.sssdConf.key" . -}}: |
    {{- required "sssdConf is required" .Values.sssd.conf | nindent 4 }}
{{- end }}{{- /* if and $create (not .Values.sssd.secretRef) */}}
